header
{
    height:75px;
    width:100%;
    background-color:white;
    color:black;
   
}
nav {
    width: 60%;
    float: right;
    
}
nav ul
{
      list-style-type: none;
      margin: 0;
      padding: 0;
        
}
nav li
{
float:left;
margin-right:50px;
}
nav li a 
{
        display: block;
        text-decoration: none;
        text-align: center;
        color: black;
        
}
li a:hover 
{
    background-color: darkslategrey;
    color: white;
}
.active
{
    background-color: darkslategrey;
    color: white;
}

body
{
    font-family:'Times New Roman', Times, serif;
    background-color:black;
}
h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    padding-top:5px;
    padding-left:10px;
}
