header {
    width: 83%;
    background-color: #F0E3E3;
    color: black;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

nav {
    width: 100%;
    float: right;
}

    nav li {
        float: right;
        margin-right: 100px;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

ul li {
}
