
body {
    font-family: 'Times New Roman', Times, serif;
    background-color:white;
    color: black;
}

header {
    width: 82.5%;
    background-color: #F0E3E3;
    color: black;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
}
.black {
    
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.black_head {
    background-color: black;
     
}


nav {
    width: 100%;
    float: right;
}

    nav li {
        float: right;
        margin-right: 100px;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

table {
    border: 1px solid black;
    width: 350px;
}

.left {
    float: left;
}

.left2 {
    float: right;
    overflow: hidden;
    padding: 0 4px;
}

    .left2 > input {
        width: 100%
    }

    .left2 > textarea {
        width: 100%
    }

    .submit{
        text-align:center;
    }

nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
}

nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ol li a {
        display: block;
        text-decoration: none;
        text-align: center;
        color: white;
    }

.img-responsive {
    width: 100%;
}